/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/sansita-one");

/* Define root variables */
:root {
  --primary-color: #030915;
  --tertiary-color: #161c28;
  --border-color: #0e317d;
  --text-color: #ffffff;
  --poppins-ff: "Poppins", sans-serif;
  --sansita-ff: "Sansita One", sans-serif;
}

/* General reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  font-family: var(--poppins-ff);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  position: relative;
}

.c-btn {
  border: 3px solid var(--text-color);
  color: var(--text-color);
}

.c-btn:hover {
  border: 3px solid var(--text-color);
}

/* Hero section styles */
.hero {
  background: var(--primary-color);
  min-height: 100vh;
  color: var(--text-color) !important;
  position: relative;
}

/* Header styles */
.navbar-toggler-icon {
  background-image: none;
  background: white;
}

.hero .nav-link {
  color: var(--text-color) !important;
  font-weight: 500;
}

.hero--section .heading {
  font-family: var(--sansita-ff);
  font-size: 96px;
}

.subtitle {
  font-size: 24px;
  font-weight: 200;
}

/* features */
.feature {
  width: 170px;
  height: 122px;
  display: flex;
  justify-content: center;
  border: 2px solid #d9d9d9;
}

.feature-swiper {
  width: 100%;
  height: 100%;
}

.feature-swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Categories */
.heading-1 {
  font-family: var(--sansita-ff);
  font-size: 64px;
}

.lists p {
  padding-bottom: 0.5em;
  text-align: center;
}

.lists .active {
  border-bottom: 3px solid var(--border-color);
}

.category-container {
  background: url("./images/Rectangle\ 54.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.category-container > * {
  color: var(--text-color);
}

.category-container h2 {
  font-family: var(--sansita-ff);
  font-size: 40px;
}

/* cards */

swiper-container {
  width: 100%;
  padding-top: 10px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
}

.c-card {
  overflow: hidden;
  border-radius: 18px;
  background: #212838;
  color: var(--text-color);
  overflow: hidden;
  flex-grow: 1;
}

.c-card--img-container img {
  width: 100%;
  height: 100%;
}

.card-name .price {
  font-weight: 600;
}

.card-rating img {
  width: 25px;
}

/* service */
.service-wrapper {
  border-radius: 0.6em;
}

.service--text-context {
  background: var(--tertiary-color);
  color: var(--text-color);
}

.service--heading {
  font-family: var(--sansita-ff);
}

.service-btn {
  width: max-content;
  border-bottom: 1px solid var(--text-color);
}
/* footer */

footer {
  background: var(--tertiary-color);
  color: var(--text-color);
}

@media (max-width: 320px) {
  .hero--section .heading {
    font-size: 80px;
  }
  .heading-1 {
    font-size: 50px;
  }

  .lists {
    gap: 0 !important;
  }
}

/* tablet */
@media (min-width: 600px) {
  .subtitle {
    width: 65%;
  }

  .service-wrapper {
    height: 350px;
  }

  .service--img-container img {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill;
  }
}

/* Media queries for laptop screen size */
@media (min-width: 900px) {
  .container-fluid {
    max-width: 1200px;
  }

  .c-btn {
    font-size: 28px;
    font-weight: 200;
  }

  .hero .circle {
    background: var(--tertiary-color);
    border-radius: 50%;
    position: absolute;
  }

  .top-left {
    width: 500px;
    height: 457px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .middle-center {
    width: 50px;
    height: 50px;
    left: 55%;
    top: 10%;
  }

  .bottom-left {
    width: 100px;
    height: 100px;
    bottom: 10%;
    left: 6%;
  }

  .bottom-right {
    width: 1000px;
    height: 1000px;
    right: -20%;
    bottom: -30%;
    transform: translate(-14%, 22%);
  }

  /* hero */
  .hero {
    height: 770px;
    margin-bottom: 9.375rem;
    position: relative;
    overflow: hidden;
  }

  nav .navbar-nav {
    padding-right: 5%;
  }

  .hero-heading {
    position: relative;
  }

  .hero-img-container {
    position: absolute;
    width: 1115px;
    height: 627px;
    transform: translate(-38%, 28%);
    padding-right: 3em;
    display: none;
  }
  .hero-img {
    position: absolute;
    top: -520%;
    right: 0;
    padding-right: 3em;
  }

  .hero-img-container img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
  /* category */
  .lists p {
    font-size: 24px;
    font-weight: 500;
  }
  .category-container {
    border-radius: 1.125rem;
    height: 340px;
    padding-left: 3.125rem;
  }

  .category--text-context {
    margin-top: 1.5625rem;
  }

  .learn-more-btn {
    margin-top: 3.75rem !important;
  }

  .category--img-container {
    position: absolute;
    top: 15%;
    left: 20%;
  }

  /* service */
  .service-wrapper {
    height: 455px;
  }

  .service--heading {
    font-size: 38px;
  }

  .service-details {
    font-size: 24px;
  }

  /* footer */
  .footer-details h2 {
    font-weight: 600;
    font-size: 24px;
  }

  .footer-details p {
    font-size: 18px;
    font-weight: 300;
    padding-top: 0.25rem;
  }
}

/* Hero section responsiveness for tablet orientation mode */
@media (max-width: 768px) and (orientation: landscape) {
}
